src/main/resources/InternationalTime.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/InternationalTime/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternationalTime"
	targetNamespace="http://www.example.org/InternationalTime/">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/InternationalTime/">

			<!-- Request -->
			<xsd:element name="getInternationaTime"
				type="tns:Location">
			</xsd:element>

			<xsd:complexType name="Location">
				<xsd:sequence>
					<xsd:element name="Country" type="xsd:string"></xsd:element>
					<xsd:element name="City" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<!-- Response -->
			<xsd:element name="getInternationaTimeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:time" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getInternationaTimeRequest">
		<wsdl:part element="tns:getInternationaTime"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="getInternationaTimeResponse">
		<wsdl:part element="tns:getInternationaTimeResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:portType name="InternationalTime">
		<wsdl:operation name="getInternationaTime">
			<wsdl:input message="tns:getInternationaTimeRequest" />
			<wsdl:output message="tns:getInternationaTimeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InternationalTimeSOAP"
		type="tns:InternationalTime">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getInternationaTime">
			<soap:operation
				soapAction="http://www.example.org/InternationalTime/getInternationaTime" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InternationalTime">
		<wsdl:port binding="tns:InternationalTimeSOAP"
			name="InternationalTimeSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
